.font-family-menu {
  width: 150px;
  overflow-y: scroll;
  max-height: 337px;
}

.font-family-menu::-webkit-scrollbar-thumb {
  background-color: #d4d4d5;
  border-radius: var(--border-radius);
  background-clip: padding-box;
}

.font-family-menu::-webkit-scrollbar {
  width: 4px;
  margin-right: 2px;
}

.font-family-menu .column {
  width: 100%;
  align-items: flex-start;
}

.font-family-menu__title {
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
