.filesWrapper {
	display: flex;
	// height: 24px;
	gap: 8px;
	label {
		min-height: auto;
		border: 0;
		color: #949395;
		font-size: 14px;
		justify-content: flex-start;
		&:hover {
			color: #29282C;
		}
	}
	.valueElement {
		display: flex;
		align-items: center;
		// padding: 6px 8px;
		border-radius: 4px;
		background-color: #d4d4d5;
		width: 100px;
		height: 50px;
		overflow: hidden;
		.file {
			font-size: 14px;
			line-height: 16px;
			color: #29282C;
			cursor: pointer;
			max-width: 100px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			// padding-right: 6px;
			width: 100%;
			height: 100%;
			border: 2px solid #d4d4d5;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
				border-radius: 2px;
			}
			span {
				opacity: 0;
				position: absolute;
				inset: 0;
				transition: .3s;
				background-color: rgba(#d4d4d5, 0.8);
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 4px;
				svg:hover  {
					stroke: #4A86FF;
				}
			}
			&:hover {
				color: #4A86FF;
				span {
					opacity: 1;
				}
			}
		}
		svg {
			width: 16px;
			height: 16px;
			cursor: pointer;
			stroke: #29282C;
		}
	}
}

.addFileButton {
	display: flex;
	align-items: center;
	color: #949395;
	font-size: 14px;
	margin: 4px 0;
	&:hover {
		color: #29282C;
	}
	svg {
		width: 16px;
		height: 16px;
		margin-right: 8px;
	}
}